@model KA_SWD63B_Cloud_HA.Models.Video

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateUploaded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateUploaded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
    <!--display video here using model.videoUrl-->
    <video width="320" height="240" controls>
        <source src="@Model.VideoUrl" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id/* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
